@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<button class="btn" type="button" id="add-checklist"><i class="fa fa-badge-check fa-2x"></i></button>

@section Scripts
{
    <script src="~/js/index.js"></script>
}
