@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<button class="btn add-checklist" type="button" data-color="lightgray"><i class="fa fa-badge-check fa-2x"></i></button>
<button class="btn add-checklist" type="button" data-color="lightblue"><i class="fa fa-badge-check fa-2x" style="color: lightblue"></i></button>
<button class="btn add-checklist" type="button" data-color="lightpink"><i class="fa fa-badge-check fa-2x" style="color: lightpink"></i></button>

@section Scripts
{
    <script src="~/js/index.js"></script>
}
